<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <!-- Styles -->
    <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/helper.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
	<div th:fragment="sideNav" class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
	     <div class="nano">
	         <div class="nano-content">
	             <div class="logo"><a href="index.html"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Focus</span></a></div>
	             <ul>
	                 <li class="label">Main</li>
	                 <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard</span></a></li>
	
	                 <li class="label">Form</li>
	                 <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> Basic Form </a></li>
	                 <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> Basic Form </a></li>
	                 
	             </ul>
	         </div>
	     </div>
	</div>
<!-- jquery vendor -->
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="assets/js/lib/menubar/sidebar.js"></script>
    <script src="assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->


    <script src="assets/js/lib/bootstrap.min.js"></script><script src="assets/js/scripts.js"></script>
    <!-- scripit init-->
</html>